<h2>New Order</h2>

<form action="/order" method="post">
  <label for="order[name]">Name:</label>
  <input name="order[name]">

  <label for="order[photo_url]">Photo URL:</label>
  <input name="order[photo_url]">

  <label for="order[price]">Price:</label>
  <input name="order[price]">

  <input type="submit" value="Create">
</form>
