<<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to our Food Station and Enjoy your meal.</title>
  <link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <header>
     <nav>
      <ul>
        <li><a href="/">Food Station</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/order">Order</a></li>
        <li><a href="/menu">Menu</a></li>

        </ul>
        </nav>
        </header>
   <main>
     <%= yield %>
     </main>
     <footer>
      &copy; Food Station
      </footer>

      

      





</body>
</html>